<div class="info-bar">
HP: <span id ="hp">5</span>  POINTS: <span id="points">0</span>  LEVEL: <span id="level">0</span>
</div>
<div id="game" class="transformed">
  <div id="start">START LEVEL</div>
  <div id="death"></div>
  <div id="gridplacer">
  <div class="spawn_location"><div id="0" class="holder" signature="" fake-location = ""></div></div>
  <div class="spawn_location"><div id="1" class="holder" signature="" fake-location = ""></div></div>
  <div class="spawn_location"><div id="2" class="holder" signature="" fake-location = ""></div></div>
  <div class="spawn_location"><div id="3" class="holder" signature="" fake-location = ""></div></div>
  <div class="spawn_location"><div id="4" class="holder" signature="" fake-location = ""></div></div>
  <div class="spawn_location"><div id="5" class="holder" signature="" fake-location = ""></div></div>
  <div class="spawn_location"><div id="6" class="holder" signature="" fake-location = ""></div></div>
  <div class="spawn_location"><div id="7" class="holder" signature="" fake-location = ""></div></div>
  <div class="spawn_location"><div id="8" class="holder" signature="" fake-location = ""></div></div>  
</div>
</div>